In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('./datasets/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [8]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [9]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [11]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [12]:
df['tenure'].dtype

dtype('int64')

In [13]:
df['tenure'] = df['tenure'].fillna(df['tenure'].median())

In [14]:
df['MonthlyCharges'].dtype

dtype('float64')

In [15]:
df['MonthlyCharges'] = df['MonthlyCharges'].fillna(df['MonthlyCharges'].median())

In [ ]:
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].median())

In [17]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [19]:
conditions = [
    (df['tenure'] >= 0 ) & (df['tenure'] <= 12),
    (df['tenure'] >= 12) & (df['tenure'] <= 36),
    (df['tenure'] >= 37) & (df['tenure'] <= 60),
]

choices = ['New', 'Regular', 'Loyal']

df['tenure_group'] = np.select(conditions, choices, default='Champion')

In [20]:
df[['tenure', 'tenure_group']]

      tenure tenure_group
0          1          New
1         34      Regular
2          2          New
3         45        Loyal
4          2          New
...      ...          ...
7038      24      Regular
7039      72     Champion
7040      11          New
7041       4          New
7042      66     Champion

[7043 rows x 2 columns]

In [22]:
# 2. monthly_charge_segment
# MonthlyCharges < 30  → "Low"
# 30–70              → "Medium"
# > 70                 → "High"
conditions = [
    df['MonthlyCharges'] < 30,
    (df['MonthlyCharges'] >= 30) & (df['MonthlyCharges'] <= 70)
]

choices = ['Low', 'Medium']

df['monthly_charge_segment'] = np.select(conditions, choices, default='High')

df[['MonthlyCharges', 'monthly_charge_segment']]

      MonthlyCharges monthly_charge_segment
0              29.85                    Low
1              56.95                 Medium
2              53.85                 Medium
3              42.30                 Medium
4              70.70                   High
...              ...                    ...
7038           84.80                   High
7039          103.20                   High
7040           29.60                    Low
7041           74.40                   High
7042          105.65                   High

[7043 rows x 2 columns]

In [23]:
# 3. has_internet_service
# Convert InternetService column:
# "DSL" / "Fiber optic" → 1
# "No" → 0

df['has_internet_service'] = np.where(
    df['InternetService'] == 'No', 0, 1
)

df[['InternetService', 'has_internet_service']]

     InternetService  has_internet_service
0                DSL                     1
1                DSL                     1
2                DSL                     1
3                DSL                     1
4        Fiber optic                     1
...              ...                   ...
7038             DSL                     1
7039     Fiber optic                     1
7040             DSL                     1
7041     Fiber optic                     1
7042     Fiber optic                     1

[7043 rows x 2 columns]

In [24]:
# is_multi_line_user
# 1 if MultipleLines == "Yes"
# 0 otherwise

df['is_multi_line_user'] = np.where(
    df['MultipleLines'] == 'Yes', 1, 0
)

df[['MultipleLines', 'is_multi_line_user']]

         MultipleLines  is_multi_line_user
0     No phone service                   0
1                   No                   0
2                   No                   0
3     No phone service                   0
4                   No                   0
...                ...                 ...
7038               Yes                   1
7039               Yes                   1
7040  No phone service                   0
7041               Yes                   1
7042                No                   0

[7043 rows x 2 columns]

In [27]:
# 5. contract_type_code
# Map:
# Month-to-month → 0
# One year      → 1
# Two year      → 2

df['contract_type_code'] = df['Contract'].map({
    'Month-to-month': 0,
    'One year': 1,
    'Two year': 2
})

In [25]:
df['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [29]:
df= df.drop(columns=['customerID', 'gender'], axis=1)

In [ ]:
df.to_csv('./datasets/preprocessedTeleComData.csv')